*{
margin:0;
padding:0;
box-sizing:border-box;
}

.dashboard-container{

min-height:100vh;

background:black;
color:white;
}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 50px;

background:#111;
}

.logo{

color:#E50914;
font-size:40px;
}

.logout-btn{

padding:8px 16px;

background:#E50914;

border:none;

border-radius:5px;

color:white;

cursor:pointer;

font-size:14px;

width:auto;
height:auto;
}

.dashboard-content{

text-align:center;

padding-top:80px;
}

.dashboard-content h1{

font-size:45px;
margin-bottom:20px;
}

.dashboard-content p{

font-size:20px;
color:#ccc;
margin-bottom:40px;
}

.cards{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{

width:250px;

padding:30px;

background:#1c1c1c;

border-radius:10px;

transition:.3s;
}

.card:hover{

transform:scale(1.05);
}