*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

.container{
height:100vh;

background-image:url("https://images.unsplash.com/photo-1522869635100-9f4c5e86aa37?q=80&w=2070");

background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.overlay{

height:100%;
width:100%;

background:rgba(0,0,0,.65);

display:flex;
justify-content:center;
align-items:center;
}

.login-box{

width:430px;

padding:60px;

background:rgba(0,0,0,.75);

border-radius:5px;
}

.logo{

color:#E50914;
font-size:50px;
margin-bottom:40px;
}

h2{

color:white;
margin-bottom:30px;
font-size:32px;
}

input{

width:100%;
padding:16px;

margin-bottom:20px;

background:#333;
border:none;

border-radius:5px;

color:white;
font-size:16px;
}

input::placeholder{

color:#aaa;
}

button{

width:100%;
padding:16px;

background:#E50914;
border:none;

border-radius:5px;

color:white;

font-size:17px;

cursor:pointer;
}

button:hover{

opacity:.9;
}

p{

margin-top:15px;
color:red;
}

.demo{
margin-top:20px;
color:#b3b3b3;
font-size:14px;
}

.demo p{
margin:5px 0;
color:#b3b3b3;
}